footer {
    background: $sc-footer-background-color;
    border-top: 1px solid $sc-footer-border-color;
    color: $sc-footer-text-color;

    p {
        color: $sc-footer-text-color;
        margin-right: $sc-margin-lv2;
    }

    a {
        color: $sc-footer-link-color;
        margin-right: $sc-margin-lv2;

        &:hover {
            color: $sc-footer-link-color-hover;
        }

        &:active {
            color: $sc-footer-link-color-active;
        }
    }

    ul{
        @extend .col-md-8;
        @extend .col-xs-12;

        display:inline-block;
        list-style: none;
        margin: 0;
        margin-right: $sc-margin-lv2;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $sc-footer-headings-color;
    }

    input {
        background: $sc-footer-fields-background-color;
        border: 1px solid $sc-footer-fields-border-color;
        color: $sc-footer-fields-text-color;
    }

    button, button.button-secondary, button.button-tertiary {
        @extend .button-medium;

        background: $sc-footer-buttons-background-color;
        color: $sc-footer-buttons-text-color;
        border: 1px solid $sc-footer-buttons-border-color;
    }
}

.footer-content{
    @extend .container;
    @extend .row;
    margin: auto;
    text-align: center;
    padding: $sc-padding-lv6 0 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-padding-lv5;
        padding-bottom: $sc-padding-lv5;
    }

    @media (min-width: $screen-md-min) {
        text-align: left;
    }

    .footer-m {
        .footer-m-navigation {
            .footer-m-navigation-link {
                text-transform: uppercase;

                &.category-color-light-green {
                    color: $gs-color-black;
                }
            }
        }
    }
    .icon-plus {
        position: relative;
        right: 10px;
        &:before {
            display: none;
        }

        &.footer-m-main-navigation-dropdown-icon {
            &:before {
                content: "";
                display: block;
                width: 2px;
                background: white;
                height: 15px;
            }
            &:after {
                content: "";
                display: block;
                width: 2px;
                background: white;
                height: 15px;
                transform: rotate(90deg);
                position: absolute;
                top: 0px;
            }
        }
    }
    .gs-icon-cart {
        &:before {
            display: block !important;
            font-size: 25px;
        }
        &.footer-m-main-navigation-dropdown-icon {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        border: 3px solid black;
        border-right: 0;
        border-left: 0;

        .footer-d-main-navigation-link {
            font-size: 16px;
        }

        .footer-d-navigation {
            display: block;
            overflow: hidden;
            .footer-d-col {
                float: left;
                margin: 0 1%;
                width: 18%;
            }
            [data-cms-area="footer_bottom"] {
                clear: both;
                padding-top: 50px;
            }
        }
    }

    @media(min-width: $screen-md-min){
        .footer-d-navigation {
            [data-cms-area="footer_bottom"] {
                clear: none;
                padding-top: 0;
                float: left;
                width: 18%;
            }
        }
    }
}

.footer-content-col4 {
    @extend .col-md-4;
}

.footer-content-col2 {
    @extend .col-md-2;
}

.footer-d-social-icons {
    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        .footer-social-icons-link {
            font-size: 32px !important;
            margin: 0;
            margin-left: 20px;
        }
    }
}

.footer-newsletter {
    .newsletter-subscription-form-label {
        font-weight: $gs-weight-medium;
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            width: 40% !important;
        }
    }
}

@media(min-width: $screen-xs-max){
    .footer-m-main-navigation-link {
        &:focus,
        &:hover {
            color: $gs-color-black !important;
        }
    }
}
