.footer-d {
    margin: 0 $sc-margin-lv3;
    text-align: left;

    @media (min-width: $screen-lg-min) {
        margin: 0;
    }
}

.footer-d-navigation {
    display: flex;
    justify-content: space-between;
}

.footer-d-main-navigation-head {
    font-size: 16px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 500;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    line-height: normal;
    color: white;
}

.footer-d-social-icons {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}
