.product-views-option-tile {
	@extend .clearfix;
	width: 100%;
  margin-top: $sc-margin-lv4;
  margin-bottom:$sc-margin-lv2;

  [data-validation-error="block"] {
  	display:table;
  	margin-top:$sc-margin-lv1;
  }
}

.product-views-option-tile-label {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: $sc-margin-lv2;
	display: block;
	font-size: 13px;
	@media (min-width: $screen-sm-min){
			font-size: 16px;
	}
	span {
		font-weight:$sc-font-weight-normal;
	}
}

.product-views-option-tile-picker {
	@extend .picker-label;
	margin-bottom:$sc-margin-lv1;
	font-weight: $gs-weight-semi-bold;
}
.product-views-option-tile-input-picker {
	@extend .picker-input;
}

.product-views-option-tile-picker {
	@extend .picker-lg;
	cursor: pointer;
}

.product-views-option-tile-picker-small {
	@extend .picker-sm;
}


.product-views-option-tile-picker.active {
	@extend .picker-checked;
}
.product-views-option-tile-picker.muted {
	opacity:0.4;
}



.product-views-option-tile-label-required {
	@extend .input-required;
}
