.modal-newsletter-lightbox-view {
  @media (max-width: $screen-xs-max) {
    padding: 0!important;
  }
}
.newsletter-lightbox-subscription-expander-tooltip {
  @extend .sc-tooltip;
  @extend .icon-question;
  font-size: 24px;
  vertical-align: middle;
  display: none;
  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}
.newsletter-lightbox-container {
  @extend .clearfix;
  background: $gs-color-bg-modals;
}
.newsletter-lightbox-image {
  img {
    display: block;
  }
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
    float: left;
    width: 55%;
  }
}
.newsletter-lightbox-content {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 20px;
  @media (min-width: $screen-sm-min) {
    float: right;
    padding-right: 40px;
    padding-top: 55px;
    padding-left: 0;
    width: 45%;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 70px;
  }
  @media (min-width: $screen-lg-min) {
    padding-right: 60px;
    padding-top: 110px;
  }
}

.newsletter-lightbox-suscription-form {
  text-align: center;

  .newsletter-lightbox-suscription-form-checkbox {
    margin-top: $sc-margin-lv3;
  }

  .icon-question-circle {
    padding: 10px 0 10px 2.5px;
    color: #000;
    cursor: pointer;
    font-size: 24px;
  }
}

.newsletter-lightbox-subscription-form-container {
  @extend .clearfix;
}

.newsletter-lightbox-suscription-form-input {
  @extend .input-base;
  width: calc(100% - 50px);
  font-size: 18px;
  float: left;
  height: 48px;
  line-height: 48px;
  @media (min-width: $screen-sm-min) {
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    width: 100%;
    float: none;
  }
  @media (min-width: $screen-md-min) {
    font-size: 28px;
    height: 72px;
    line-height: 72px;
    margin-bottom: 20px;
  }
}
.newsletter-lightbox-suscription-form-mobile-submit {
  @extend .btn;
  background-color: $gs-color-tree-green;
  color: $gs-color-purewhite;
  height: 48px;
  line-height: normal;
  text-align: center;
  font-size: 18px;
  margin: 0;
  float: right;
  width: 50px;
  padding: 6px 12px 6px 7px;
  border-radius: 0;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.newsletter-lightbox-suscription-form-checkbox {
  margin-bottom: 15px;
  position: relative;
  .newsletter-lightbox-tooltip {
    left: 0 !important;
  }
}

.newsletter-lightbox-tooltip .tooltip-inner {
  padding: 15px 10px;
  font-size: 11px;
  text-align: left;
  @media (min-width: $screen-md-min){
    padding: 20px 25px;
    font-size: 14px;
  }
  @media (min-width: $screen-lg-min){
    padding: 30px 40px;
  }
}

.newsletter-lightbox-input-checkbox {
  @extend .custom-checkbox;
  padding-top: 10px;
  @media (min-width: $screen-sm-min){
    padding-top: 0;
  }
  em {
    vertical-align: middle;
    margin-right: 8px;
  }
  .tooltip {
    .tooltip-inner {
      min-width: 280px;
      @media (min-width: $screen-md-min){
        min-width: 375px;
      }
      @media (min-width: $screen-lg-min){
        min-width: 450px;
      }
    }
  }
}

.newsletter-lightbox-subscription-label-text {
  font-size: 14px;
  vertical-align: middle;
  @media (min-width: $screen-sm-min){
    font-size: 16px;
  }
  @media (min-width: $screen-md-min){
    font-size: 18px;
  }
  @media (min-width: $screen-lg-min){
    font-size: 22px;
  }
}

.newsletter-lightbox-subscription-form-button-subscribe-gs {
  @extend .btn;
  background-color: $gs-color-tree-green;
  color: $gs-color-purewhite;
  height: 44px;
  // line-height: 44px;
  text-align: center;
  font-size: 18px;
  margin: 0;
  display: none;

  @media (min-width: $screen-sm-min){
    font-size: 28px;
    // line-height: 56px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    display: inline-block;
  }

  @media (min-width: $screen-md-min){
    height: 75px;
    // line-height: 75px;
    font-size: 38px;
    font-weight: 500;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.newsletter-lightbox-icon {
  text-align: center;
  margin-bottom: 5px;
  @media (min-width: $screen-sm-min){
    margin-bottom: 18px;
  }
  i {
    font-size: 35px;
    @media (min-width: $screen-sm-min){
      font-size: 55px;
    }
    @media (min-width: $screen-md-min){
      font-size: 68px;
    }
    @media (min-width: $screen-lg-min){
      font-size: 80px;
    }
  }
}

.newsletter-lightbox-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  @media (min-width: $screen-sm-min){
    font-size: 32px;
    margin-bottom: 5px;
  }
  @media (min-width: $screen-md-min){
    font-size: 40px;
  }
  @media (min-width: $screen-lg-min){
    font-size: 50px;
  }
}

.newsletter-lightbox-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  @media (min-width: $screen-sm-min){
    font-size: 20px;
    margin-bottom: 18px;
  }
  @media (min-width: $screen-md-min){
    font-size: 26px;
  }
  @media (min-width: $screen-lg-min){
    font-size: 32px;
  }
}

.newsletter-lightbox-subscription-mobile-disclaimer {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  @media (min-width: $screen-sm-min){
    display: none;
  }
}

.modal-dialog-lg {
  width: 100%;
  margin: 0;
  @media (min-width: $screen-sm-min) {
    width: 720px;
    margin: 30px auto;
  }
  @media (min-width: $screen-md-min) {
    width: 920px;
  }
  @media (min-width: $screen-lg-min) {
    width: 1130px;
  }
}

.modal-dialog-md {
  width: 100%;
  margin: 0;
  @media (min-width: $screen-sm-min) {
    width: 90%;
    margin: 30px auto;
  }
  @media (min-width: $screen-md-min) {
    width: 896px;
  }
}

.no-padding .global-views-modal-content {
  padding: 0;
}

.no-header .global-views-modal-content-header {
  margin: 0;
  height: 0;
  display: block;
}
.no-header .global-views-modal-content-header-close {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  @media (min-width: $screen-md-min) {
    right: 20px;
    top: 20px;
  }
}
.no-header .global-views-modal-content-header-title {
  display: none;
}
.modal-content,
.global-views-modal-content {
  @include border-radius(0);
}

.modal-body iframe {
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 303px;
}
