.header-mini-cart-menu-cart-link {
    & i.header-mini-cart-menu-cart-icon {
        color: white;
        font-size: 30px;

        @media (min-width: $screen-xs) {
            font-size: 40px;
        }

        @media (min-width: $screen-sm-min) {
            font-size: 50px;
            color: #000;
        }

        @media (min-width: 880px) {
            font-size: 64px;
        }

        @media (min-width: $screen-md-min) {
          color: #000;
          font-size: 1.5rem;
          text-align: left;
        }
    }

    

    @media (max-width: $screen-sm-max) {
      width: 100%;
      height: 100%;
      padding: 13px 0 0 0;
      text-align: center;
      overflow: visible;
    }

    @media (min-width: $screen-sm-min) {
        padding: 15px 0;
    }

    @media (min-width: $screen-md-min) {
      padding: 0px;
      overflow: visible;

      & span.header-mini-cart-menu-cart-legend {
        top: 6px;
        right: -12px;
        font-size: 12px;
      }
    }
}

.header-mini-cart-menu-cart-icon {
    @extend .gs-icon-cart;
}

.header-mini-cart-menu-cart-legend {
  $sc-size-legend: 24px;
  position: absolute;
  display: block;
  top: -14px;
  right: -14px;
  height: $sc-size-legend;
  line-height: $sc-size-legend;
  width: $sc-size-legend;
  background: #ee3124;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  font-weight: 600;
  font-size: 15px;

    @media (min-width: $screen-sm-min) {
      top: 6px;
      right: 6px;
    }

    @media (min-width: $screen-lg-min) {
      top: 8px;
      right: 8px;
    }
}
