[data-cms-area="footer_bottom"] {
    padding: $sc-padding-lv3;
    border-top: 1px solid $gs-color-purewhite;

    @media(min-width: $screen-sm-min) {
        padding: 0;
        border-top: 0;
    }
}

.footer-store-locator {
    .footer-nav-list-title {
        font-size: $sc-font-size-base;
        line-height: normal;
        margin-bottom: $sc-margin-lv8;

        @media(min-width: $screen-sm-min) {
            font-size: 16px;
            margin-bottom: $sc-margin-lv3;
            text-transform: uppercase;
            font-weight: $gs-weight-medium;
        }
    }

    .nearest-store {
        font-size: 14px;

        .nearest-store-title {
            text-transform: uppercase;
            font-weight: $gs-weight-medium;
        }

        p {
            color: $gs-color-purewhite;
        }
    }
}
