.main, .layout-container {
	min-height: 100%;
	height: auto;
	width: 100%;
}

%sc-layout {
	min-height: 100%;
	// FIXED HEADER - CONFIGURABLE VIA CONFIGURATION RECORD
	#site-header.fixed-header {
        @media(min-width: $screen-md-min) {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001;
        }
    }
	.theme-has-fixed-header {
        @media (min-width: $screen-md-min) {
            padding-top: ($sc-header-height + $sc-main-navigation-height);
        }
    }
}

%sc-footer {
}

.layout-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
