//weight
$gs-weight-lighter: 100; /* editable({"type": "number", "label": "GS Weight Lighter"}) */
$gs-weight-lighter-xl: 200; /* editable({"type": "number", "label": "GS Weight Lighter XL"}) */
$gs-weight-light: 300; /* editable({"type": "number", "label": "GS Weight Light"}) */
$gs-weight-regular: 400; /* editable({"type": "number", "label": "GS Weight Regular"}) */
$gs-weight-medium: 500; /* editable({"type": "number", "label": "GS Weight Medium"}) */
$gs-weight-semi-bold: 600; /* editable({"type": "number", "label": "GS Weight Semi Bold"}) */
$gs-weight-bold: 700; /* editable({"type": "number", "label": "GS Weight Bold"}) */
$gs-weight-black: 800; /* editable({"type": "number", "label": "GS Weight Black"}) */
$gs-weight-black-ultra: 900; /* editable({"type": "number", "label": "GS Weight Black Ultra"}) */
