// Primary button variables
$sc-button-primary-background-color: $sc-color-primary; /* editable({"type": "color", "label": "Background"}) */
$sc-button-primary-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Text"}) */
$sc-button-primary-border-color: $sc-button-primary-background-color; /* editable({"type": "color", "label": "border"}) */
$sc-button-primary-border-radius: $sc-theme-border-radius; /* editable({"type": "string", "label": "Border radius"}) */

$sc-button-primary-hover-background-color: $sc-color-primary-dark; /* editable({"type": "color", "label": "Hover background"}) */
$sc-button-primary-hover-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Hover text"}) */
$sc-button-primary-hover-border-color: $sc-button-primary-hover-background-color; /* editable({"type": "color", "label": "Hover border"}) */

$sc-button-primary-active-background-color: desaturate(darken($sc-button-primary-background-color, 5), 10); /* editable({"type": "color", "label": "Active background"}) */
$sc-button-primary-active-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Active text"}) */
$sc-button-primary-active-border-color: $sc-button-primary-active-background-color; /* editable({"type": "color", "label": "Active border"}) */

$sc-button-primary-disabled-background-color: $sc-neutral-shade-300;
$sc-button-primary-disabled-border-color: $sc-button-primary-disabled-background-color;

$sc-button-primary-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Secondary button variables
$sc-button-secondary-background-color: $sc-color-secondary; /* editable({"type": "color", "label": "Background"}) */
$sc-button-secondary-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Text"}) */
$sc-button-secondary-border-color: $sc-button-secondary-background-color; /* editable({"type": "color", "label": "Border"}) */
$sc-button-secondary-border-radius: $sc-theme-border-radius; /* editable({"type": "string", "label": "Border radius"}) */

$sc-button-secondary-hover-background-color: $sc-color-primary-dark; /* editable({"type": "color", "label": "Hover background"}) */
$sc-button-secondary-hover-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Hover text"}) */
$sc-button-secondary-hover-border-color: $sc-color-primary-dark; /* editable({"type": "color", "label": "Hover border"}) */

$sc-button-secondary-active-background-color: darken($sc-button-secondary-background-color, 6); /* editable({"type": "color", "label": "Active background"}) */
$sc-button-secondary-active-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Active text"}) */
$sc-button-secondary-active-border-color: $sc-button-secondary-active-background-color; /* editable({"type": "color", "label": "Active border"}) */

$sc-button-secondary-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Tertiary button variables
$sc-button-tertiary-background-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Background"}) */
$sc-button-tertiary-text-color: $sc-color-link-hover; /* editable({"type": "color", "label": "Text"}) */
$sc-button-tertiary-border-color: $sc-button-tertiary-text-color; /* editable({"type": "color", "label": "Border"}) */
$sc-button-tertiary-border-radius: $sc-theme-border-radius; /* editable({"type": "string", "label": "Border radius"}) */

$sc-button-tertiary-hover-background-color: $sc-button-tertiary-text-color; /* editable({"type": "color", "label": "Hover background"}) */
$sc-button-tertiary-hover-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Hover text"}) */
$sc-button-tertiary-hover-border-color: $sc-button-tertiary-hover-background-color; /* editable({"type": "color", "label": "Hover border"}) */

$sc-button-tertiary-active-background-color: darken($sc-button-tertiary-hover-background-color, 6); /* editable({"type": "color", "label": "Active background"}) */
$sc-button-tertiary-active-text-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Active text"}) */
$sc-button-tertiary-active-border-color: $sc-button-tertiary-active-background-color; /* editable({"type": "color", "label": "Active border"}) */

$sc-button-tertiary-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Pill button
$sc-button-pill-color: $sc-color-secondary;

// Icon button controls
$sc-button-icon-button-controls-color: $sc-button-pill-color;

// Large button
$sc-button-large-padding: $sc-padding-lv4; /* editable({"type": "string", "label": "Padding"}) */
$sc-button-large-font-size: $sc-font-size-l; /* editable({"type": "string", "label": "Font size"}) */
$sc-button-large-line-height: 1; /* editable({"type": "string", "label": "Line height"}) */
$sc-button-large-letter-spacing: 1px; /* editable({"type": "string", "label": "Letter spacing"}) */
$sc-button-large-mobile-width: 100%; /* editable({"type": "string", "label": "Mobile width"}) */
$sc-button-large-desktop-width: auto; /* editable({"type": "string", "label": "Desktop width"}) */

// Medium button
$sc-button-medium-padding: $sc-padding-lv1 * 2.5 $sc-padding-lv2; /* editable({"type": "string", "label": "Padding"}) */
$sc-button-medium-font-size: $sc-font-size-m; /* editable({"type": "string", "label": "Font size"}) */
$sc-button-medium-line-height: 1; /* editable({"type": "string", "label": "Line height"}) */
$sc-button-medium-letter-spacing: 0.5px; /* editable({"type": "string", "label": "Letter spacing"}) */
$sc-button-medium-mobile-width: 100%; /* editable({"type": "string", "label": "Mobile width"}) */
$sc-button-medium-desktop-width: auto; /* editable({"type": "string", "label": "Desktop width"}) */

// Small button
$sc-button-small-padding: $sc-padding-lv2 $sc-padding-lv3; /* editable({"type": "string", "label": "Padding"}) */
$sc-button-small-font-size: $sc-font-size-s; /* editable({"type": "string", "label": "Font size"}) */
$sc-button-small-line-height: 1; /* editable({"type": "string", "label": "Line height"}) */
$sc-button-small-letter-spacing: normal; /* editable({"type": "string", "label": "Letter spacing"}) */
$sc-button-small-mobile-width: auto; /* editable({"type": "string", "label": "Mobile width"}) */
$sc-button-small-desktop-width: auto; /* editable({"type": "string", "label": "Desktop width"}) */

// Global button variables
$sc-button-shadow-color-value: black;
$sc-button-shadow-color: transparentize($sc-button-shadow-color-value, 1-0.25);

// Checkout Button variables
$sc-button-checkout-color: $sc-button-primary-background-color;
$sc-button-checkout-hover-color: $sc-button-primary-hover-background-color;
